/* Styling for Homepage */

:root {

}

/* Background Styling */

body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}